<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kjk.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".AndroidtestActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".DateAndTimeActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".AutoCompleteActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".SpinnerActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".ScrollSelecterActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".WheelTimeActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".WheelDayActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".AnimationActivity"
            android:label="@string/app_name" >
        </activity>
        
    </application>

</manifest>